<div class="container-fluid">
  <div class="d-flex justify-content-between container-fluid mt-4 align-items-end d-md-none">
    <div>
      <p class="mb-0">Lokasi</p>
      <!-- Button trigger modal -->
      <button type="button" class="d-flex gap-3 bg-transparent border-0 fw-semibold p-0" data-bs-toggle="modal" data-bs-target="#lokasi">
        Kudus
        <i class="bi bi-chevron-down"></i>
      </button>

      <!-- Modal lokasi start -->
      <div class="modal fade" id="lokasi" tabindex="-1" aria-labelledby="lokasiLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="lokasiLabel">
                Tentukan lokasi
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" id="lokasi" name="lokasi" placeholder="Lokasi Anda" required />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal lokasi end -->

    </div>
    <!-- avatar start -->
    <div class="dropdown">
      <button class="profile-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="profile-button" src="https://ui-avatars.com/api/?name=Fikri" alt="image profile">
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-person"></i>
            Profile
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-info-circle"></i>
            About
          </a>
        </li>
        <li>
          <a class="dropdown-item text-danger" href="#">
            <i class="bi bi-box-arrow-right"></i>
            Sign Out
          </a>
        </li>
      </ul>
    </div>
    <!-- avatar end -->
  </div>

  <!-- Header with Search and Icons -->
  <div class="container-fluid d-flex justify-content-between align-items-center mb-md-0 mt-4">
    <a href="/">
      <img class="d-none d-md-inline img-fluid logo-goRent me-3" src="/assets/images/GoRent.png" alt="logo GoRent">
    </a>
    <div class="d-none d-md-flex align-items-center me-3">
      <div class="dropdown dropdown-hover">
        <button class="bg-transparent border-0" type="button">
          Kategori
        </button>
        <div class="dropdown-menu">
          <div class="d-flex flex-column">
            <% categories.forEach(category => { %>
            <div class="category-item"><%= category.name %></div>
            <% }) %>
          </div>`
        </div>
      </div>
    </div>
    <div class="search-container flex-grow-1 me-3">
      <div class="d-flex align-items-center">
        <i class="bi order-md-last bi-search me-2 text-muted"></i>
        <input type="text" class="search-input" placeholder="Cari Produk" />
      </div>
    </div>
    <div class="d-flex gap-3">
      <button class="btn btn-light d-md-none" type="button" data-bs-toggle="modal" data-bs-target="#filter">
        <i class="bi bi-filter"></i>
      </button>
      <button class="btn btn-light">
        <i class="bi bi-bag"></i>
      </button>

      <!-- Modal Filter start -->
      <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="filterLabel">Filter</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
              <div class="d-flex justify-content-between align-items-center">
                <label for="categoryDropdown ">Kategori</label>
                <select class="form-control w-50" id="categoryDropdown">
                    <% categories.forEach(category => { %>
                        <option disable selected>Pilih kategori</option>
                        <option><%= category.name %></option>
                        <% }) %>
                </select>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <label for="categoryDropdown ">Kondisi</label>
                <select class="form-control w-50" id="categoryDropdown">
                    <option disable selected>Pilih kondisi</option>
                  <option>Sangat baik</option>
                  <option>Baik</option>
                  <option>Layak pakai</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary w-100">
                Filter
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Filter end -->

      <!-- avatar start -->
      <div class="dropdown d-none d-md-inline">
        <button class="profile-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="profile-button" src="https://ui-avatars.com/api/?name=Fikri" alt="image profile">
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-person"></i>
              Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-info-circle"></i>
              About
            </a>
          </li>
          <li>
            <a class="dropdown-item text-danger" href="#">
              <i class="bi bi-box-arrow-right"></i>
              Sign Out
            </a>
          </li>
        </ul>
      </div>
      <!-- avatar start -->

    </div>
  </div>

  <!-- lokasi start -->
  <div class="gap-2 mt-2 container-fluid d-none d-md-flex">
    <i class="bi bi-geo-alt"></i>
    <p>Lokasi</p>
    <div class="dropdown">
        <button class="bg-transparent border-0 fw-semibold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Kudus
        </button>
        <ul class="dropdown-menu">
          <li>
            <input type="text" class="form-control" placeholder="Lokasi Anda">
            <button class="btn btn-primary w-100 mt-2">Simpan</button>
          </li>
        </ul>
      </div>
  </div>
  <!-- lokasi end -->

</div>