<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>GoRent | Sign In</title>
    <style>
      body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-color: #fff;
        overflow-x: hidden;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 col-10">
          <div class="mb-4 d-flex flex-column align-items-center">
            <img
              src="/assets/images/GoRent.png"
              alt="GoRent Logo"
              class="img-fluid mb-4"
              style="max-width: 200px"
            />
            <h2 class="fw-bold mb-4 mt-5 fs-1 w-100">Masuk ke akun Anda</h2>
          </div>

          <form action="/signin" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Example@gmail.com"
                required
              />
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="********"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">
              Sign In
            </button>
          </form>

          <div class="divider">
            <span>atau</span>
          </div>

          <button class="auth-btn">
            <img src="/assets/icons/google.svg" alt="Google" width="20" />
            <span>Google</span>
          </button>
          <button class="auth-btn">
            <img src="/assets/icons/facebook.svg" alt="Facebook" width="20" />
            <span>Facebook</span>
          </button>

          <p class="text-center mt-4">
            Belum punya akun?
            <a href="/signup" class="text-decoration-none">Sign Up</a>
          </p>
        </div>
      </div>
    </div>

    <div class="wave-bottom"></div>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
